div {
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 10px;
	font-size: 40px;
}

p {
	text-indent: 20px;
}

p#one {
	text-decoration: underline;
}

#two {
	text-align: center;
}